[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "assignR"]
	path = assignR
	url = https://github.com/cran/assignR
[submodule "isoWater"]
	path = isoWater
	url = https://github.com/cran/isoWater
